:root {
  font-family: ROBOTO ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #161616;

  --glow1: conic-gradient(
    from 10deg at 50% 50%,
    #eb74cf 0deg,
    #132761 55deg,
    #22436b 120deg,
    #4ec2e9 160deg,
    transparent 360deg
  );

  --glow2: conic-gradient(
    from 90deg at 50% 50%,
    #f6bbff 0deg,
    #b38ce9f7 160deg,
    #7bebff 120deg,
    #113872 55deg,
    transparent 360deg
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,*::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1, h2, p {
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  position: absolute;
  z-index: 1;
}



.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}



  .h-100 {
    height: 100%;
  }

  .h-50 {
    height: 50%;
  }

  .w-100 {
    width: 100%;
  }

  .w-50 {
    width: 50%;
  }