section {
    position: relative;
    overflow-x: hidden;
    padding: 0 48px;
}

.section-name {
    font-size: .8em;
}

.section-title {
    font-size: 1.8em;
    margin-top: 50px;
    white-space: pre-line;
}

.section-content {
    width: 100%;
    height: -webkit-fill-available;
    max-width: 1210px;
    margin: 120px 0 64px 0;    
}